.image-container {
  margin: 10px;
}

.image-body {
  width: 180px;
  height: 200px;
  background-color: #999;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

.image-header {
  width: 180px;
  height: 20px;
  background-color: #c3c3c3;
  border-radius: 10px 10px 0 0;
  position: relative;
  display: flex;
  align-items: center;
}

.add-image {
  position: absolute;
  right: 3%;
  width: 15px;
  height: 15px;
  background-image: url('../../../assets/add.png');
  background-size: contain;
  cursor: pointer;
}