.label-group {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.new-content-input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.new-content-input-container>.text-input>input {
  width: 100%;
}

.middle-align {
  display: flex;
  align-items: center;
}