.flex-container {
  display: flex;
}

.category-image-container {
  display: flex;
  width: 100%;
}

.category-image-select {
  width: 50%;
  background: #fff;
  border: 1px solid #000;
}

.flex-image-container {
  display: flex;
}